$background-black: #000000;
$background-dark-grey: #121212;
$background-grey: #282828;
$background-off-white: #f7f7f7;
$background-off-white-hover: #e0e0e0;

$element-dark-grey: #1c1c1c;
$element-dark-grey-hover: #1a1919;

$highlight-orange: #fc7214;
$highlight-orange-hover: #df620f;
$highlight-white: white;

$text-normal: #f7f7f7;
$text-normal-hover: #dfdede;
$text-header: #f7f7f7;
$text-info: #868686;
$text-on-white: #615d5d;
$text-on-white-hover: #111111;

$link-muted: #cd590a;
$link-muted-hover: #e0610d;

$blue-header: #0e4661;
