<!-- registration here -->

<div
  class="modal fade"
  id="SignUp"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div> -->

      <div class="modal-body">
        <form class="modal-body__form" #registerForm="ngForm">
          <legend class="modal-body__registration">
           <b> Bei Coachable registrieren</b>
          </legend>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label emailHeading"
              >E-Mail-Adresse</label
            >
            <input
              type="email"
              class="form-control border border-1 emailHeading"
              style="background-color: #0f0f0f; color: whitesmoke"
              placeholder="E-Mail-Adresse"
              ngModel
              name="email"
              #email="ngModel"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>

          <button
            type="submit"
            class="modal-body__btn"
            (click)="doSomeThing(registerForm)"
          >
            Weiter
          </button>

          <h5>oder</h5>

          <div>
            <div>
              <button
                class="border border-1 modal-body__LinkBtn"
                style="background-color: #0f0f0f; color: whitesmoke"
                type="button"
              >
              <img class="modal-body__button" aria-expanded="false"  src="assets/images/icons/google-icon.svg"  alt="notFound" srcset="">
               
                Mit Google registrieren
              </button>
            </div>
            <div>
              <button
                class="border border-1 modal-body__LinkBtn"
                style="
                  background-color: #0f0f0f;
                  color: whitesmoke;
                  border-bottom: 1px solid lightgray;
                "
                type="button"
              >
              <img class="modal-body__button" aria-expanded="false"  src="assets/images/icons/Apple.svg"  alt="notFound" srcset="">
                Mit Apple registrieren
              </button>
            </div>
          </div>
          <hr style="width: 100%;color: whitesmoke;">
          <legend class="modal-body__konto">
            Du hast bereits ein Konto?
            <a href="#" style="color: whitesmoke">Hier zur Anmledung</a>
          </legend>
          <legend class="modal-body__forgetRegis">
            Du bist Coach und willst dich registrieren?
            <a href="#" style="color: #F17B19">Klicke hier</a>
          </legend>
        </form>
      </div>

      <!-- </div> -->
    </div>
  </div>
</div>
