<div class="main-seminar__container">
  <div class="main-seminar__searchArea">
    <div class="main-seminar__searchBar">

      <img src="assets/images/icons/searchbarBlack.svg" alt="">
      <input type="text" class="main-seminar__inPut " placeholder="search" id="exampleInputPassword1"
        [(ngModel)]="searchQuery" (focus)="loadPreviousSearches()" (click)="saveSearchQuery()"
        value="show suggestions in input field" name="q">
    </div>

     <div class="">
   <ul class="drop" type="none">
      <li><a href="#"> Kategorien<i class="fas fa-caret-down" style="margin-left: 11rem;"></i></a>
        <ul type="none">
          <li> <a href="#">Kategorien <i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></a>
            <ul type="none">
              <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li> 
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          
            </ul>
          </li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>
          <li><a href="#">Kategorien</a><i class="fas fa-caret-right" style="margin-left: 10.7rem;" ></i></li>  
          
        </ul>
      </li>
    </ul>


    </div>



    <div class="main-seminar__toggle">
      <span>kurs</span>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">coach</label>
      </div>
    </div>

  </div>


  <div *ngIf="previousSearches.length > 0" class="main-seminar__suggestions">
    <ul type="none">
      <li *ngFor="let search of previousSearches" (click)="selectSearchQuery(search)">
        <img src="assets/images/icons/seminarPageIcon/Icon, Schließen.svg" alt=""
          onclick="this.parentElement.style.display='none'"> {{ search }}
      </li>
    </ul>
  </div>

  <div class="main-seminar__side">
    <div class="main-seminar__leftSide">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Zertifikat <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Info.svg" alt="">
        </label>
      </div>

      <div class="main-seminar__preissPanne">
        <span>
          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Euro.svg" alt="">
          Preisspanne</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">0 euro</div>
          <div class="label-right">&gt;20000 euro</div>
          <mat-slider min="0" max="20000" step="1" discrete value="1">
            <input matSliderThumb>
          </mat-slider>
        </div>
        <div class="form-check" style="padding-top: 10px;">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Abonnement(21)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Einmalzahlung(501)
          </label>
        </div>
      </div>

      <div class="main-seminar__preissPanne">
        <span>
          <img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt="">
          Zugangsdauer</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">&lt;1 Monat</div>
          <div class="label-right">&gt;24 Monate</div>
          <mat-slider min="1" max="24" step="1" discrete value="1">
            <input matSliderThumb>
          </mat-slider>
        </div>
        <div class="form-check" style="padding-top: 20px;">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            unbegrenzt
          </label>
        </div>

      </div>

      <div class="main-seminar__preissPanne">
        <span>
          <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt="">
          Support</span>
        <div style="padding-top:10px ;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Community (104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Videoanruf (104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Direktnachricht(104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Telefonanruf(e)(34)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Kein Support(318)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Inkl. Vorlagen(245)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Ohne Vorkenntnisse(435)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Interaktive Lernplattform(999)
            </label>
          </div>
        </div>

      </div>

      <div class="main-seminar__preissPanne">
        <span>
          <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt="">
          Videodauer</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">&lt;5 Stunden</div>
          <div class="label-right">&gt;500 Stunden</div>
          <mat-slider min="5" max="500" step="5" discrete value="5">
            <input matSliderThumb>
          </mat-slider>
        </div>

      </div>

      <div style="text-align: center; padding-top:20px ;">
        <legend>Wie gefallt Ihnen die </legend>
        <legend>Suchseite?</legend>



        <div class="main-seminar__RatingStars">

          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Star.svg" alt="">
          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Star.svg" alt="">
          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Star.svg" alt="">
          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Star.svg" alt="">
          <img src="assets/images/icons/seminarPageIcon/leftSideIcon/Star.svg" alt="">


        </div>
      </div>

    </div>


    <div class="main-seminar__rightSide">
      <div>
        <span>129 Ergebnisse fur "online Seminar"</span>
      </div>
      <div class="main-seminar__Option">
        <span>Sortiere nach:</span>
        <br>
        <div class="main-seminar__bewertet">
          <select id="Bewertet">
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
          </select>
        </div>
        <div class="main-seminar__button">
          <button class="leftBtn" type="button" (click)="gridHide()"><img
              src="assets/images/icons/seminarPageIcon/Kompakt.svg" alt="">Kompakt</button>
          <button class="rightBtn" type="button" (click)="listHide()"><img
              src="assets/images/icons/seminarPageIcon/Sort.svg" alt=""> Liste</button>
        </div>
      </div>
      <!-- Grid container  -->

      <div class="main-seminar__gridContainer" *ngIf="showHide">
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/Video Playlist.svg" alt="not found"> 40
                  Lektionen</span>
                <span><img src="assets/images/icons/seminarPageIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/Circle Play.svg" alt="">120 Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/Update.svg" alt="">24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/Internet.svg" alt="">Deutsch</span>
                <span><img src="assets/images/icons/seminarPageIcon/Auszeichnung.svg" alt=""> mit Zertifikat</span>
              </div>
              <span>500,00$<sub>/einmalig</sub> </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt="">
                  40Lektionen</span>
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Circle Play.svg" alt=""> 120
                  Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt=""> 24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Auszeichnung.svg" alt=""> mit
                  Zertifikat</span>
              </div>
              <span>400,00€ <del>500,00€</del><sub>/einmalig</sub> </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>The NETucator - Jahresabo </span>
              <h6>The NETucator</h6>
              <div class="main-seminar__gridItemsList">

                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt="">14 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch</span>

              </div>
              <span>79,23€<sub>/jährlich (85,90€/monatlich)</sub> </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Excel Online Kurs für Fortgeschrittene: Excel Exper... </span>
              <span>Excel Hero</span>
              <div class="main-seminar__gridItemsList">
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt="">
                  580 Lektionen
                </span>
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt="">
                  mit Support
                </span>
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Circle Play.svg" alt="">
                  60 Stunden
                </span>
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt="">
                  Deutsch
                </span>
              </div>
              <span>599,00€</span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Selfi-Challenge: Wie du schöne Bilder von dir für dein Busin...</span>
              <span>Carolin Zimprich</span>
              <div class="main-seminar__gridItemsList">
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt="">
                  40Lektionen
                </span>
                <span>
                  <img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch
                </span>

              </div>
              <legend>59,00$ <sub>/einmalig</sub></legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Moviecash Version 2.0 </span>
              <span>Der Wolf</span>
              <div class="main-seminar__gridItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt=""> keine
                  Info</span>
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt=""> keine Info</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Circle Play.svg" alt="">keine Info</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt=""> keine Info</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch</span>

              </div>
              <legend>279,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt=""> 40
                  Lektionen</span>
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Circle Play.svg" alt=""> 120
                  Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt=""> 24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- list container  -->

      <div class="main-seminar__listContainer" *ngIf="!showHide">


        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/Video Playlist.svg" alt="not found"> 40
                  Lektionen</span>
                <span><img src="assets/images/icons/seminarPageIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/Circle Play.svg" alt="">120 Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/Update.svg" alt="">24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/Internet.svg" alt="">Deutsch</span>
                <span><img src="assets/images/icons/seminarPageIcon/Auszeichnung.svg" alt=""> mit Zertifikat</span>
              </div>
              <span>500,00$<sub>/einmalig</sub> </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Video Playlist.svg" alt=""> 40
                  Lektionen</span>
                <span> <img src="assets/images/icons/seminarPageIcon/goldenIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Circle Play.svg" alt=""> 120
                  Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Update.svg" alt=""> 24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Internet.svg" alt=""> Deutsch</span>
                <span><img src="assets/images/icons/seminarPageIcon/goldenIcon/Auszeichnung.svg" alt=""> mit
                  Zertifikat</span>
              </div>
              <span>400,00€ <del>500,00€</del><sub>/einmalig</sub> </span>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>



      </div>


    </div>

  </div>

  

</div>