<div class="main-seminar__container">
  <div class="main-seminar__searchArea">
    <div>search_Bar</div>
    <div>dropdown</div>
    <div>slide toggle</div>
  </div>

  <div class="main-seminar__side">
    <div class="main-seminar__leftSide">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Zertifikat
        </label>
      </div>

      <div class="main-seminar__preissPanne">
        <span>Preisspanne</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">0 euro</div>
          <div class="label-right">&gt;20000 euro</div>
          <mat-progress-bar class="progress-bar" mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="form-check" style="padding-top: 10px;">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Abonnement(21)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Einmalzahlung(501)
          </label>
        </div>
      </div>

      <div class="main-seminar__preissPanne">
        <span>Zugangsdauer</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">&lt; 1 Monat</div>
          <div class="label-right">&gt;24 Monate</div>
          <mat-progress-bar class="progress-bar" mode="determinate" value="10"></mat-progress-bar>
        </div>
        <div class="form-check" style="padding-top: 20px;">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            unbegrenzt
          </label>
        </div>

      </div>

      <div class="main-seminar__preissPanne">
        <span>Support</span>
        <div style="padding-top:10px ;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Community (104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Videoanruf (104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Direktnachricht(104)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Telefonanruf(e)(34)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Kein Support(318)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Inkl. Vorlagen(245)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Ohne Vorkenntnisse(435)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Interaktive Lernplattform(999)
            </label>
          </div>
        </div>

      </div>

      <div class="main-seminar__preissPanne">
        <span>Videodauer</span>
        <div class="progress-container">
          <!-- <div class="progress-bar" style="width: 50%;"></div> -->
          <div class="label-left">&lt; 5 Stunden</div>
          <div class="label-right">&gt;12 500 Stunden</div>
          <mat-progress-bar class="progress-bar" mode="determinate" value="10"></mat-progress-bar>
        </div>

      </div>

      <div style="text-align: center; padding-top:20px ;">
        <legend>Wie gefallt Ihnen die </legend>
        <legend>Suchseite?</legend>


        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon> -->
        <!-- <fa-icon [icon]="starIcon" ></fa-icon> -->
        <div class="main-seminar__RatingStars">
          <span class="fa fa-star checked main-seminar__star"></span>
          <span class="fa fa-star checked main-seminar__star"></span>
          <span class="fa fa-star icon-body-color main-seminar__star"></span>
          <span class="fa fa-star main-seminar__star"></span>
          <span class="fa fa-star main-seminar__star"></span>
        </div>
      </div>

    </div>


    <div class="main-seminar__rightSide">
      <div>
        <span>129 Ergebnisse fur "online Seminar"</span>
      </div>
      <div class="main-seminar__Option">
        <div>
          <h6>Sortiere nach:</h6>
          <select id="Bewertet">
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
            <option value="top-Bewertet">top-Bewertet</option>
          </select>
        </div>
        <div class="main-seminar__button">
          <button class="leftBtn" type="button" (click)="gridHide()">Grid</button>
          <button class="rightBtn" type="button">list</button>
        </div>
      </div>
      <!-- Grid container  -->

      <div class="main-seminar__gridContainer" *ngIf="!gridhide">
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span> <img src="assets/images/icons/seminarPageIcon/Video Playlist.svg" alt="not found"> 40
                  Lektionen</span>
                <span><img src="assets/images/icons/seminarPageIcon/Group 89.svg" alt=""> mit Support</span>
                <span><img src="assets/images/icons/seminarPageIcon/Circle Play.svg" alt="">120 Stunden</span>
                <span><img src="assets/images/icons/seminarPageIcon/Update.svg" alt="">24 Monate</span>
                <span><img src="assets/images/icons/seminarPageIcon/Internet.svg" alt="">Deutsch</span>
                <span><img src="assets/images/icons/seminarPageIcon/Auszeichnung.svg" alt=""> mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__gridItems">
          <mat-card>
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
        <mat-card>
          <div class="main-seminar__gridItems">
            <mat-card-content>
              <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__gridItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </div>
        </mat-card>
      </div>

      <!-- list container  -->


      <!-- <div class="main-seminar__listContainer">
       
         
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>
         <div class="main-seminar__listItems">
          <mat-card>
            <mat-card-content>
               <img src="assets/images/Grids-frame/Frame 1.png" alt="">
              <span>Das ultimative Online-Seminar für deinen beruflichen Erfolg. </span>
              <span>Dennis Bauer</span>
              <div class="main-seminar__listItemsList">
                <span>40 Lektionen</span>
                <span>mit Support</span>
                <span>120 Stunden</span>
                <span>24 Monate</span>
                <span>Deutsch</span>
                <span>mit Zertifikat</span>
              </div>
              <legend>500,00$ /einmalig</legend>
            </mat-card-content>
          </mat-card>
        </div>

      

    </div>  -->
    </div>