@import "../core/styles/colors";
@import "../core/styles/fonts";
@import "../core/styles/screen-sizes.scss";
@import "../core/styles/border-radii";

.red {
  border: 1px solid red;
  color: white;
}

.main-seminar {
  &__container {
    color: #ffffff;
    max-width: 1400px;
  }

  &__searchArea {
    display: grid;
    grid-template-columns: 1.7fr 1fr 0.6fr;
    background-color: #1c1c1c;
    margin: 29px;
    justify-content: space-between;
    border-radius: 16px;
    align-items: center;
    padding: 20px 12px;
  }
  &__searchBar {
    position: relative;
    // width: 200px;
    // margin: 0 auto;
    cursor: pointer;
    margin-left: 4rem;
    margin-right: 1rem;
    border-radius: 17px;
  // border-top-left-radius: 17px;

    background-color: white;
    border: black;
    display: flex;
    // overflow: hidden;
    img {
      padding-left: 8px;
      background-color: #ffffff;
      // border-top-right-radius: 17px;
      border-radius: 17px;
    }
    
  }
  &__suggestions {
    display: flex;
    justify-content: space-between;
    // margin-left: 41px;
    overflow-x: auto;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    ul li {
      margin-right: 22px;
      background-color: #1c1c1c;
      padding: 2px 12px;
      border-radius: 14px;
    }
    ul li img {
      padding: 1px 2px 3px;
      cursor: pointer;
    }
  }
  &__inPut {
    padding: 6px;
    width: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
  }
  &__toggle {
    display: flex;

    div {
      margin-left: 8px;
    }
  }

  &__side {
    padding: 0.3rem 0.3rem;
    background-color: $background-black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 2%;
  }
  &__leftSide {
    background: #121212;
    color: #ffffff;
    padding: 3%;
  }
  &__preissPanne {
    padding: 20px 0px 20px 0px;
  }
  &__RatingStars {
    text-align: center;
    img {
      padding-right: 5px;
    }
  }
  &__star {
    margin: 2%;
  }

  &__rightSide {
    background-color: $background-black;
    color: #ffffff;
  }
  &__Option {
    padding: 20px;
    position: relative;
    top: 0;
    left: 5px;
  }
  &__bewertet {
    background-color: white;
    max-width: 161px;
    padding: 1px 3px 3px 3px;
    border-radius: 7px;
    margin-top: 2px;
    margin-left: -4px;
    select {
      border-radius: 7px;
      border: none;
      outline: none;
      width: 98%;
    }
  }
  &__button {
    position: absolute;
    padding-top: 40px;
    top: 0;
    right: 5px;
    img {
      padding-right: 8px;
    }
  }
  &__gridContainer {
    // display: grid;
    // grid-template-columns: 0.5fr 0.5fr 0.5fr;
    // gap: 15px;
    background: #1c1c1c;
    // justify-content: space-around;
    border-radius: 25px;
    padding: 15px;
  }
  &__gridItems {
    
    border-radius: 25px;
    border: none;
    padding: 10px;
    mat-card {
      background-color: #767676;
      height: 100%;
    }
  }
  &__gridItemsList {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: #121212;
  }

  &__headingFont{
    font-weight: 600;
    font-size: 15px;
  }
  &__headingFontList{
    font-weight: 600;
    font-size: 18px;
  }
  &__spacehandling{
    padding-bottom: .3rem;
    
  }
  &__nameTitle{
    color:  #A8A8A8;
    font-weight: 100;
    font-size: small;
  }

  // listItem

  &__listContainer {
    display: grid;
    grid-template-columns: 903px;
    background: #121212;
    justify-content: space-around;
    border-radius: 25px;
    padding: 15px;
  }
  &__listItems {
    display: grid;
  grid-template-columns: 1fr auto;
  background-color: #1C1C1C;
  border-radius: 25px;
  border: none;
  margin-bottom: 1rem;
  padding: 1.5rem;
  }
  &__listItemContent{
    padding-left: 1rem;
  }

  &__listItemsList {
    display: grid;
    grid-template-columns: .4fr .4fr 1fr;;
    justify-content: space-between;
    color: #121212;
  }
}





mat-slider {
  width: 90%;
}

::ng-deep {
  .fas {
    display: inline !important ;
  }

  .form-check-input {
    background-color: #000;
    border: 2px solid #f17b19 !important;
  }

  .form-switch .form-check-input:checked {
    --bs-form-switch-bg: url("../../assets/images/btn-toggle.png") !important;
  }
  .form-switch .form-check-input {
    --bs-form-switch-bg: url("../../assets/images/btn-toggle.png") !important;
  }
  .mat-mdc-slider .mdc-slider__track--inactive {
    background-color: white !important;
    border-color: white !important;
  }

  .mat-mdc-slider .mdc-slider__track--active_fill {
    border-color: transparent !important;
  }

  .mat-mdc-slider .mdc-slider__value-indicator::before {
    border: 0 !important;
  }

  .mat-mdc-slider .mdc-slider__thumb-knob {
    background-color: lightgray !important;
    border-color: lightgray !important;
  }

  .mdc-slider__value-indicator {
    background: transparent !important;
  }

  .mdc-slider .mdc-slider__value-indicator-container {
    bottom: 0px !important;
    top: 34px !important;
    background: transparent !important;
  }
}
//serachbar

#search-bar {
  color: #000;
  width: 100%;
  padding: 10px;
  border-radius: 17px;

  box-sizing: border-box;
}
.search-results {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: #000;
  background-color: inherit;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin-top: -0.5rem;
  z-index: 1;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
  img{
  background-color: #f0f0f0;

  }
}



.leftBtn {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 26px;
  background-color: #b3b3b3;
  margin: 2px;
  // width: 90px;
  padding-top: 1px;
  padding-right: 18px;
}
.rightBtn {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 26px;
  background-color: #b3b3b3;
  //   margin: 2px;
  // width: 90px;
  padding-top: 1px;
  padding-right: 18px;
}
.icon-body-color {
  color: blue; /* Change to the desired color */
}

.checked {
  color: orange;
}
#Bewertet {
  width: 152px;
  height: 23px;
  border-radius: 10px;
}
.progress-container {
  position: relative;
}

.progress-bar {
  position: relative;
  top: 0;
  left: 0;
  color: whitesmoke;
}
.label-left {
  position: relative;
  top: 0;
  left: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.label-right {
  position: absolute;
  top: 0;
  right: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.drop {
  position: relative;
  background: white;
  margin: 0px;
  padding: 0.3rem;
  padding-left: 0.6rem;
  margin-right: 4rem;
  border-radius: 4px;
  color: #000;
  li a {
    text-decoration: none;
    color: black;
  }
  li ul {
    position: absolute;
    top: 1.9rem;
    left: 0;
    width: 18.4rem;
    background: white;
    display: none;
  }

  li:hover > ul {
    display: block;
    padding: 0px;
    padding-left: 0.3rem;
  }
  li ul li {
    position: relative;
    width: 100%;
    padding: 0.3rem;
  }
  li ul li ul {
    top: 0;
    left: 18rem;
  }
}


@media screen and (max-width: $smartphone) {
  .main-seminar {
    &__container {
      padding: 0.3rem 0.2rem;
      width: 40rem;
    }
    &__searchArea {
      width: 92%;
      padding: 30px;
      display: grid;
      grid-template-columns:auto auto;
    }
    &__searchBar {
      margin: 0px;
      margin-right: 4rem;
      margin-bottom: .5rem;
    }
    &__side {
   
  
      display: grid;
      grid-template-columns: auto;
      
    }
    &__gridContainer {
      display: none;
      // display: grid;
      // grid-template-columns: 0.5fr 0.5fr;
    }
    &__button {
      display: none;
    }
    &__listContainer {
      display: grid;
      grid-template-columns: auto;
    }
  }

  .hide-on-mobile {
    display: none !important;
  }
}




