@import '../core/styles/colors';
@import '../core/styles/fonts';

.comparison-page {
    &__compare-grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }

    &__compare-item {
        width: 30%;
        min-height: 20rem;
        display: flex;
        flex-direction: column;
    }
}