<div class="container-sm p-4 justify-content-center">
    <h2>Impressum</h2><br>
    <p>
        <b>Coachable GmbH (Gesellschaft mit beschränkter Haftung)</b><br>
        Melwitzer Weg 27<br>
        06366 Köthen (Anhalt)<br>
        Deutschland<br>
        <br>
        E-Mail: info@coach-able.de<br>
        Webseite: https://www.coach-able.de<br>
        <br>
        Gesellschaft mit beschränkter Haftung<br>
        Sitz der Gesellschaft: Köthen (Anhalt)<br>
        Registergericht: Stendal<br>
        HRB 33786<br>
        Ust.-Id.-Nr: DE XXXXXXXXX<br>
        <br>
        <b>Geschäftsführung</b><br>
        Jakob Fritz Walter Karl
    </p>
</div>
