<div *ngIf="course" class="container-sm p-3 justify-content-center">
    <div class="p-3">
        <h1>{{course.name}}</h1>

        <p *ngIf="(coaches | async) as coach_list">
            <span *ngFor="let coach of coach_list; let i = index">
                <span *ngIf="coach.displayName">{{coach.displayName}}</span>
                <span *ngIf="!coach.displayName">{{coach.firstName}} {{coach.lastName}}</span>
                <span *ngIf="i != coach_list.length-1">, </span>
            </span>
        </p>
    </div>
    
    <div class="d-flex justify-content-center mb-4">
        <img class="course-page__course-image px-4" src={{course.thumbnailLink}}>
    </div>

    <div class="row gx-0">
        <div *ngIf="course.numberOfVideos && course.numberOfVideos > 0" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/video-playlist-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">{{course.numberOfVideos}} Lektionen</p>
        </div>

        <div *ngIf="course.hasDirectMessages || course.hasPhonecalls" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/support-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">mit Support</p>
        </div>

        <div *ngIf="course.certificate" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/certificate-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">mit Zertifikat</p>
        </div>

        <div *ngIf="course.accessInMonths" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/duration-icon.svg"> 
            <p *ngIf="course.accessInMonths == 0" class="course-snippet__category m-0 ms-2">Für immer</p>
            <p *ngIf="course.accessInMonths > 0" class="course-snippet__category m-0 ms-2">{{course.accessInMonths}} Monate</p>
        </div>

        <div *ngIf="course.hoursOfVideos && course.hoursOfVideos > 0" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/video-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">{{course.hoursOfVideos}}h Videos</p>
        </div>

        <div class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/graph-icon.svg"> 
            <p *ngIf="course.requiresPriorKnowledge" class="course-snippet__category m-0 ms-2">Vorheriges Wissen benötigt</p>
            <p *ngIf="!course.requiresPriorKnowledge" class="course-snippet__category m-0 ms-2">Für Anfänger</p>
        </div>

        <div *ngIf="course.hasOneOnOneCoaching" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/compass-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">1 zu 1 Coaching</p>
        </div>

        <div *ngIf="course.hasVideocalls" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/compass-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">Videocalls</p>
        </div>

        <div *ngIf="course.hasWorkshops" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/compass-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">Workshops</p>
        </div>

        <div *ngIf="course.hasSelfCoaching" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/compass-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">Selbst beibringen</p>
        </div>

        <div *ngIf="getLanguage()" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/internet-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">{{getLanguage()}}</p>
        </div>

        <div *ngIf="course.targetGender" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/user-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">{{course.targetGender}}</p>
        </div>

        <div *ngIf="course.accessInMonths && course.accessInMonths > 0" class="col mb-2 d-flex align-items-center justify-content-center course-page__course-benefit">
            <img class="course-page__benefits-icon" src="assets/images/icons/duration-icon.svg"> 
            <p class="course-snippet__category m-0 ms-2">{{getAvailabilityText()}}</p>
        </div>
        
    </div>

    <h3 class="my-3">Preis: {{course.nettoPrice}}€ inkl. MwSt.</h3>

    <div class="course-page__table-of-contents p-3" *ngIf="course.tableOfContents">
        <h4 class="course-page__accordion-title">Kursinhalte</h4>
        <div *ngFor="let content of contentList; let i = index" class="accordion accordion-flush" id="tableOfContentsAccordion{{i}}">
            <div class="accordion-item course-page__accordion">
                <h2 class="accordion-header">
                    <button class="accordion-button course-page__accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true">
                        {{content.title}}
                    </button>
                </h2>
                <div id="collapse{{i}}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        {{content.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="course.description" class="accordion my-4" id="descriptionAccordion">
        <div class="accordion-item course-page__accordion">
            <h2 class="accordion-header">
                <button class="accordion-button course-page__accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Kursbeschreibung
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">{{course.description}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="course.description" class="accordion my-4" id="requirmentsAccordion">
        <div class="accordion-item course-page__accordion">
            <h2 class="accordion-header">
                <button class="accordion-button course-page__accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Empfohlen für
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div *ngIf="course.requiresPriorKnowledge" class="d-flex">
                        <h5>Vorkenntnisse</h5>
                        <p>{{course.requiresPriorKnowledge}}</p>
                    </div>
                    <div *ngIf="course.requirments" class="d-flex">
                        <h5>Anforderungen erforderlich?</h5>
                        <p>{{course.requirments}}</p>
                    </div>
                    <div *ngIf="course.mimimumAge || course.maximumAge" class="d-flex">
                        <h5>Alter</h5>
                        <p>{{course.mimimumAge}} - {{course.maximumAge}} Jahre</p>
                    </div>
                    <div *ngIf="course.targetGender" class="d-flex">
                        <h5>Geschlecht</h5>
                        <p>{{course.targetGender}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button (click)="goToLink(course.affiliateLink)">Kurs Kaufen</button>

    <div *ngIf="(coaches | async) as coach_list">
        <div *ngFor="let coach of coach_list" class="d-flex align-items-center justify-content-center m-3">
            <img class="course-page__coach-image me-4" onerror="this.src='assets/images/coach-placeholder.svg'" src={{coach.profilePictureLink}}>
            <div class="d-flex flex-column">
                <h3 *ngIf="coach.firstName || coach.lastName" class="mb-3">Über {{coach.firstName}} {{coach.lastName}}:</h3>
                <h3 *ngIf="!(coach.firstName || coach.lastName) && coach.companyName" class="mb-3">Über {{coach.companyName}}:</h3>
                <p class="mb-3">{{coach.biography}}</p>
                <button class="course-page__coach-link" (click)="openCoachLink(coach)">Zum Coach</button>
            </div>
        </div>
    </div>    
</div>

<div *ngIf="(otherCoaches | async) as coach_list" class="container-lg text-center my-5">
    <h2 class="mb-3 coach-page__course-section-title">Ähnliche Coaches</h2>
    <app-coach-carousel [coaches]="otherCoaches"></app-coach-carousel>
</div>

<div *ngIf="(otherCourses | async) as course_list">
    <div *ngIf="course_list.length > 0" class="container-lg py-5">
        <h2 class="course-page__course-section-title">Weitere Kurse</h2>
        <app-course-carousel [courses]="otherCourses"></app-course-carousel>
    </div>
</div>
