<div class="container-sm p-4 justify-content-center">
    <h1>DSGVO von Coachable</h1><br>

    <h3>1. Einführung und Überblick</h3>
    <p>
        Die Coachable GmbH legt großen Wert auf den Schutz und die Vertraulichkeit Ihrer persönlichen Daten. 
        Diese Datenschutzerklärung soll Ihnen einen klaren Überblick darüber geben, wie wir Ihre Daten sammeln, verarbeiten und schützen.
    </p>

    <h3 class="mt-5">2. Identifikation des Unternehmens</h3>
    <p>
        Coachable GmbH
        <br>
        <br>
        Melwitzer Weg 27, 06366 Köthen (Anhalt), Deutschland
        <br>
        <br>
        E-Mail: info@coach-able.de
        <br>
        <br>
        Datenschutzbeauftragter: Maximilian Krug
    </p>

    <h3 class="mt-5">3. Details zu den gesammelten Daten</h3>
    <p>
        Wir sammeln folgende Daten:
    </p>
    <ul>
        <li>Persönliche Identifikationsinformationen (Name, Alter, Geschlecht, E-Mail, Telefonnummer, Adresse)</li>
        <li>Nutzungsdaten (Verhalten auf unserer Plattform)</li>
        <li>Technische Daten (IP-Adresse)</li>
        <li>Firmendaten für Geschäftskunden</li>
    </ul>
    <p>
        Die Daten werden durch Registrierung auf unserer Plattform, Nutzung des Kontaktformulars und durch Piwik PRO Analytics erhoben. Der Zweck der Datenerhebung umfasst Kundenbetreuung, Marketing, Vertragserfüllung und die Verbesserung unserer Plattform.
    </p>

    <h3 class="mt-5">4. Rechtsgrundlage der Verarbeitung</h3>
    <p>
        Die Verarbeitung Ihrer Daten basiert auf Ihrer Einwilligung, Vertragserfüllung, unseren berechtigten Interessen und gesetzlichen Verpflichtungen.
    </p>

    <h3 class="mt-5">5. Datenweitergabe und -verarbeitung</h3>
    <p>
        Wir geben keine Daten an Dritte weiter, außer an Amazon AWS und Ionos SE für Hosting und Cloud-Speicherung. Die Daten werden in Deutschland gespeichert und die rechtliche Grundlage für diese Weitergabe ist Artikel 28 DSGVO.
    </p>

    <h3 class="mt-5">6. Speicherdauer</h3>
    <p>
        Personenbezogene Daten werden gelöscht, sobald sie für ihre Zwecke nicht mehr benötigt werden, mit Ausnahme von steuerrechtlichen Unterlagen, die gemäß §132 Abs. 1 BAO mindestens sieben Jahre aufbewahrt werden.
    </p>

    <h3 class="mt-5">7. Rechte der Betroffenen</h3>
    <p>
        Sie haben das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit und Widerspruch gegen die Verarbeitung Ihrer Daten.
    </p>

    <h3 class="mt-5">8. Datensicherheit</h3>
    <p>
        Wir verwenden SSL/TLS-Verschlüsselung für sichere Datenübertragungen und speichern Daten sicher auf Servern von Amazon AWS und Ionos SE. Unsere Mitarbeiter sind im sicheren Umgang mit Daten geschult und wir überprüfen regelmäßig unsere Sicherheitsmaßnahmen.
    </p>

    <h3 class="mt-5">9. Änderungen der Datenschutzerklärung</h3>
    <p>
        Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Änderungen werden auf unserer Webseite kenntlich gemacht und Nutzer mit einem Benutzerkonto werden per E-Mail informiert.
    </p>
</div>
