<div class="container-sm p-4 justify-content-center">
    <h1>Allgemeine Geschäftsbedingungen (AGB) von Coachable</h1><br>
    <h3>1. Geltungsbereich und Definitionen</h3>
    <p>
        Diese AGB gelten für die Nutzung unserer digitalen Such- und Vergleichsplattform für
        Online-Videokurse, ausschließlich für Nutzer im DACH-Raum (Deutschland, Österreich,
        Schweiz). Die Plattform befindet sich aktuell in der Beta-Version und die AGB bezieht sich
        auf diese Version der Webseite. Die finale Version der AGB gilt mit der Veröffentlichung des
        finalen Produkts.
        <br>
        <br>
        <br>
        <b>„Kurse“</b><br>
        Online-Videokurse, die von verschiedenen Coaches auf unserer Plattform gelistet werden.
        <br>
        <br>
        <b>„Coaches“</b><br>
        Anbieter der gelisteten Online-Videokurse auf unserer Plattform.
        <br>
        <br>
        <b>„Nutzer“</b><br>
        Alle Personen, die unsere Plattform verwenden, um Kurse zu suchen und zu vergleichen.
        <br>
        <br>
        <br>
        Wir arbeiten mit Affiliate-Links und übernehmen keine Haftung für Kursinhalte oder
        Transaktionen zwischen Nutzern und Coaches.
    </p>

    <h3 class="mt-5">2. Registrierung und Nutzerkonto</h3>
    <p>
        Anforderungen an die Registrierung
        <br>
        <br>
        Die Registrierung auf unserer Plattform und das Hochladen von Kursen erfolgt über ein
        einheitliches Nutzerkonto. Es wird nicht zwischen Konten für Coaches und Nutzer
        unterschieden. Jeder, der ein Konto auf der Plattform erstellt, kann ohne vorherige Erfüllung
        spezifischer Kriterien Kurse hochladen. Weitere Informationen über das Hochladen können
        unter kurse.coach-able.de eingesehen werden.
        <br>
        <br>
        <br>
        Verantwortung für das Nutzerkonto
        <br>
        <br>
        Coaches und Nutzer tragen die volle Verantwortung für die Sicherheit ihres Nutzerkontos
        sowie für den Schutz der Daten potenzieller Kunden, die über ihre Kurse auf der Plattform
        gesammelt werden können. Es obliegt den Coaches und Nutzern, geeignete Maßnahmen zu
        ergreifen, um unbefugten Zugriff auf ihr Konto zu verhindern und die Integrität der
        Kundendaten zu wahren.
        <br>
        <br>
        <br>
        Coachable behält sich das Recht vor, Nutzerkonten jederzeit und ohne Angabe von Gründen
        zu bearbeiten und zu sperren. Diese Maßnahmen dienen dem Schutz der Plattformnutzer
        und der Wahrung der Qualität und Sicherheit der auf der Plattform angebotenen Inhalte.
        <br>
        <br>
        <br>
        Urheberrecht und Eigentumsrechte für Nutzerkonten
        <br>
        <br>
        Mit dem Erstellen eines Nutzerkontos und dem Hochladen von Inhalten (Texte, Bilder und
        andere Medien) auf die Plattform erklären Nutzer, dass sie über alle notwendigen Rechte an
        diesen Inhalten verfügen. Sie gewähren der Plattform eine Lizenz zur Nutzung, Darstellung,
        Anpassung und Verbreitung dieser Inhalte im Rahmen der Plattformfunktionalitäten. Diese
        Lizenz ermöglicht es der Plattform, die Inhalte zu präsentieren, zu modifizieren und bei
        Bedarf zu entfernen, insbesondere um die Einhaltung der Plattformrichtlinien zu
        gewährleisten oder rechtlichen Anforderungen nachzukommen.
        <br>
        <br>
        <br>
        Änderungen und Beendigung der Lizenz
        <br>
        <br>
        Die hier erteilte Lizenz gilt für die Dauer der Verfügbarkeit der Inhalte auf der Plattform.
        Nutzer können ihre Inhalte jederzeit entfernen, wodurch die Lizenz für diese spezifischen
        Inhalte endet. Die Plattform kann jedoch Kopien von Inhalten für einen angemessenen
        Zeitraum in ihren Sicherungssystemen behalten, um rechtlichen Verpflichtungen
        nachzukommen oder die Integrität der Plattform zu wahren.
    </p>

    <h3 class="mt-5">3. Vertragsabschluss</h3>
    <p>
        Der Nutzer wird zur Checkout-Seite eines externen Zahlungsanbieters weitergeleitet, um dort
        den Kauf nach den Bedingungen des Kursanbieters abzuschließen. Unsere Rolle beschränkt
        sich auf die Bereitstellung von Übersicht und Vergleichsmöglichkeiten der Kurse. Obwohl wir
        darauf hinweisen, für wen die einzelnen Kurse geeignet sein könnten, übernehmen wir keine
        Gewähr für die Passgenauigkeit dieser Empfehlungen.
    </p>

    <h3 class="mt-5">4. Preise und Zahlungsbedingungen</h3>
    <p>
        Die Preise werden von den Coaches festgelegt. Die Preisfestsetzung und
        Zahlungsabwicklung erfolgt durch den jeweiligen Kursanbieter.
        Wir bieten eine Bestpreisgarantie, die besagt, dass Nutzer innerhalb von 30 Tagen nach
        dem Kauf eines Kurses den Differenzbetrag erstattet bekommen, falls sie den Kurs ohne
        spezielle Rabatte (beispielsweise Black-Friday-Angebot, Webinar-Angebote und
        dergleichen) auf einer anderen Plattform günstiger finden als zu dem Preis, zu welchem der
        Kunde den Kurs auf unserer Plattform gekauft hat.
        Es fallen keine zusätzlichen Gebühren für die Nutzung unserer Plattform an.
        Wir behalten uns das Recht vor, die auf unserer Plattform angezeigten Preise jederzeit und
        ohne vorherige Ankündigung zu ändern.
    </p>

    <h3 class="mt-5">5. Liefer- und Leistungsbedingungen</h3>
    <p>
        Die Bereitstellung und der Zugang zu den Kursen obliegen den Kursanbietern. Unsere
        Plattform ist lediglich ein Vermittler. Wir übernehmen keine Haftung für die Aktualität,
        Vollständigkeit und Richtigkeit der Kursinformationen.
    </p>

    <h3 class="mt-5">6. Gewährleistung und Haftung</h3>
    <p>
        Wir übernehmen keine Gewährleistung für die Kurse. Die Haftung für die Kurse und deren
        Inhalte liegt bei den jeweiligen Kursanbietern. Für Schäden, die nicht auf grober
        Fahrlässigkeit oder Vorsatz unsererseits beruhen, wird keine Haftung übernommen. Dies gilt
        insbesondere für direkte oder indirekte Schäden, die aus der Nutzung unserer Plattform oder
        der darin enthaltenen Informationen entstehen könnten, sowie für Schäden, die durch den
        Zugriff auf oder die Verwendung von Links zu Drittseiten entstehen.
    </p>

    <h3 class="mt-5">7. Widerrufsrecht für Verbraucher</h3>
    <p>
        Das Widerrufsrecht für den Kauf eines Kurses unterliegt den Regelungen des jeweiligen
        Kursanbieters. Wir sind nicht verantwortlich für die Bedingungen und die Ausübung des
        Widerrufs.
    </p>

    <h3 class="mt-5">8. Schlussbestimmungen</h3>
    <p>
        Anwendbares Recht: Es gilt das Recht der Bundesrepublik Deutschland.
        <br>
        <br>
        Änderungen der AGB: Änderungen werden kenntlich gemacht und per E-Mail an Nutzer mit
        Benutzerkonto kommuniziert.
        <br>
        <br>
        Salvatorische Klausel: Die Unwirksamkeit einzelner Bestimmungen berührt nicht die
        Wirksamkeit der übrigen Bestimmungen.
        <br>
        <br>
        Gerichtsstand: Gerichtsstand ist der Sitz unserer Firma.
        <br>
        <br>
        Außergerichtliche Streitbeilegung: Wir streben eine außergerichtliche Beilegung von
        Streitigkeiten an.
        <br>
        <br>
        Wir bei Coachable setzen uns für Fairness und Transparenz in unseren
        Geschäftsbeziehungen ein und respektieren die Rechte unserer Nutzer.
    </p>
</div>
