<div class="container-lg d-flex flex-column justify-content-center align-items-center main-footer__container">
    <img class="main-footer__logo" src="assets/images/coachable-logo.png">
    <p class="main-footer__copyright-text">Copyright © 2023 Coachable GmbH</p>
    <div class="d-flex main-footer__links">
        <a href="/datenschutz" class="main-footer__link">Datenschutz</a>
        <span>|</span>
        <a href="/agbs" class="main-footer__link">AGBs</a>
        <span>|</span>
        <a href="/support" class="main-footer__link">Kontakt</a>
        <span>|</span>
        <a href="/impressum" class="main-footer__link">Impressum</a>
    </div>
    <div class="d-flex">
        <img class="main-footer__social-media-icon" src="assets/images/icons/fb-icon.svg">
        <img class="main-footer__social-media-icon" src="assets/images/icons/insta-icon.svg">
        <img class="main-footer__social-media-icon" src="assets/images/icons/tiktok-icon.svg">
        <img class="main-footer__social-media-icon" src="assets/images/icons/linkedin-icon.svg">
    </div>
</div>